<div class="mb-3">
  <label class="form-label" [for]="id">{{ label }}</label>
  <input 
    class="form-control" 
    [id]="id" 
    [formControl]="control" 
    [type]="type"  
    [placeholder]="placeholder"
    [ngClass]="{
      'is-invalid': control?.invalid && isInvalid(),
      'ng-valid': control?.valid && isInvalid()
    }" 
  />
  <div *ngIf="control?.invalid && isInvalid()" class="invalid-feedback d-block">
    <span *ngFor="let errorKey of getErrorKeys()">
      <span *ngIf="control?.errors?.[errorKey]">{{ errors[errorKey] }}</span>
    </span>
  </div>
</div>
