<script>
  var navbarStyle = localStorage.getItem("navbarStyle");
  if (navbarStyle && navbarStyle !== 'transparent') {
    document.querySelector('.navbar-vertical').classList.add(`navbar-${navbarStyle}`);
  }
</script>
<div class="d-flex align-items-center">
  <div class="toggle-icon-wrapper">

    <button class="btn navbar-toggler-humburger-icon navbar-vertical-toggle" data-bs-toggle="tooltip"
      data-bs-placement="left" title="Toggle Navigation"><span class="navbar-toggle-icon"><span
          class="toggle-line"></span></span></button>

  </div><a class="navbar-brand" href="../../../index.html">
    <div class="d-flex align-items-center py-3"><img class="me-2"
        src="../../../assets/img/icons/spot-illustrations/falcon.png" alt="" width="40" /><span
        class="font-sans-serif">falcon</span>
    </div>
  </a>
</div>
<div class="collapse navbar-collapse" id="navbarVerticalCollapse">
  <div class="navbar-vertical-content scrollbar">
    <ul class="navbar-nav flex-column mb-3" id="navbarVerticalNav">
      <li class="nav-item">
        <!-- label-->
        <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
          <div class="col-auto navbar-vertical-label">App
          </div>
          <div class="col ps-0">
            <hr class="mb-0 navbar-vertical-divider" />
          </div>
        </div>
        <!-- parent pages--><a class="nav-link dropdown-indicator" href="#e-commerce" role="button"
          data-bs-toggle="collapse" aria-expanded="true" aria-controls="e-commerce">
          <div class="d-flex align-items-center"><span class="nav-link-icon"><span
                class="fas fa-shopping-cart"></span></span><span class="nav-link-text ps-1">E commerce</span>
          </div>
        </a>
        <ul class="nav collapse show" id="e-commerce">
          <li class="nav-item"><a class="nav-link dropdown-indicator " href="#product" data-bs-toggle="collapse"
              aria-expanded="true" aria-controls="e-commerce">
              <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Product</span>
              </div>
            </a>
            <!-- more inner pages-->
            <ul class="nav collapse show" id="product">
              <li class="nav-item"><a class="nav-link" [routerLink]="['/backend/product']">
                  <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Product list</span>
                  </div>
                </a>
                <!-- more inner pages-->
              </li>
              <li class="nav-item"><a class="nav-link" [routerLink]="['/backend/product/add']">
                  <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Add Product</span>
                  </div>
                </a>
                <!-- more inner pages-->
              </li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link dropdown-indicator" href="#category" data-bs-toggle="collapse"
              aria-expanded="true" aria-controls="e-commerce">
              <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Category</span>
              </div>
            </a>
            <!-- more inner pages-->
            <ul class="nav collapse show" id="category">
              <li class="nav-item"><a class="nav-link" [routerLink]="['/backend/category']">
                  <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Category list</span>
                  </div>
                </a>
                <!-- more inner pages-->
              </li>
              <li class="nav-item"><a class="nav-link" [routerLink]="['/backend/category/add']">
                  <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Add Category</span>
                  </div>
                </a>
                <!-- more inner pages-->
              </li>
            </ul>
          </li>
          <li class="nav-item tienanh"><a class="nav-link dropdown-indicator" href="#level-three"
              data-bs-toggle="collapse" aria-expanded="true" aria-controls="multi-level">
              <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Địa chỉ hành chính</span></div>
            </a><!-- more inner pages-->
            <ul class="nav collapse show" id="level-three" style="">
              <li class="nav-item"><a class="nav-link dropdown-indicator" href="#province" data-bs-toggle="collapse"
                  aria-expanded="true" aria-controls="level-three">
                  <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Tỉnh & Thành phố</span></div>
                </a><!-- more inner pages-->
                <ul class="nav collapse show" id="province" style="">
                  <li class="nav-item"><a class="nav-link" [routerLink]="['/backend/administrative-units/province']" >
                 
                      <div class="d-flex align-items-center"><span class="nav-link-text ps-1" routerLinkActive="router-link-active" >Danh sách tỉnh & thành phố</span></div>
                    </a><!-- more inner pages--></li>
                  <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/backend/administrative-units/province/add']">
                      <div class="d-flex align-items-center"><span class="nav-link-text ps-1" >Thêm tỉnh & thành phố</span></div>
                    </a><!-- more inner pages--></li>
                </ul>
              </li>
              <li class="nav-item"><a class="nav-link dropdown-indicator" href="#district" data-bs-toggle="collapse"
                  aria-expanded="true" aria-controls="level-three">
                  <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Huyện</span></div>
                </a><!-- more inner pages-->
                <ul class="nav collapse show" id="district" style="">
                  <li class="nav-item"><a class="nav-link" [routerLink]="['/backend/administrative-units/district']" >
  
                      <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Danh sách huyện</span></div>
                    </a><!-- more inner pages--></li>
                  <li class="nav-item"><a class="nav-link" [routerLink]="['/backend/administrative-units/district/add']" >
                      <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Thêm huyện</span></div>
                    </a><!-- more inner pages--></li>
                </ul>
              </li>
              <li class="nav-item"><a class="nav-link dropdown-indicator" href="#ward" data-bs-toggle="collapse"
                  aria-expanded="true" aria-controls="level-three">
                  <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Xã</span></div>
                </a><!-- more inner pages-->
                <ul class="nav collapse show" id="ward" style="">
                  <li class="nav-item"><a class="nav-link" [routerLink]="['/backend/administrative-units/ward']" >
                      <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Danh sách xã</span></div>
                    </a><!-- more inner pages--></li>
                  <li class="nav-item"><a class="nav-link" [routerLink]="['/backend/administrative-units/ward/add']" >
                      <div class="d-flex align-items-center"><span class="nav-link-text ps-1">Thêm xã</span></div>
                    </a><!-- more inner pages--></li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>

      <li class="nav-item">
        <!-- label-->
        <div class="row navbar-vertical-label-wrapper mt-3 mb-2">
          <div class="col-auto navbar-vertical-label">Pages
          </div>
          <div class="col ps-0">
            <hr class="mb-0 navbar-vertical-divider" />
          </div>
        </div>
    </ul>
    <div class="settings mb-3">
      <div class="card shadow-none">
        <div class="card-body alert mb-0" role="alert">
          <div class="btn-close-falcon-container">
            <button class="btn btn-link btn-close-falcon p-0" aria-label="Close" data-bs-dismiss="alert"></button>
          </div>
          <div class="text-center"><img src="../../../assets/img/icons/spot-illustrations/navbar-vertical.png" alt=""
              width="80" />
            <p class="fs--2 mt-2">Loving what you see? <br />Get your copy of <a href="#!">Falcon</a></p>
            <div class="d-grid"><a class="btn btn-sm btn-purchase"
                href="https://themes.getbootstrap.com/product/falcon-admin-dashboard-webapp-template/"
                target="_blank">Purchase</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>